<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="main" class="h-screen w-full bg-zinc-500 p-10">
        <a class="px-4 py-4 bg-red-300 rounded-md font-semibold " href="/">Return to Home</a>
        <h3 class="text-2xl mt-10 font-bold"><%= filename%></h3>
        <p class="mt-3 text-xl"><%= filedata%></p>
    </div>
  </body>
</html>
